{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Biblan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Biblan</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/find_book/">Låna bok</a></li>
              <li><a href="/students/student/1">Sök student</a></li>
              <li><a href="/add_book/">Lägg till bok</a></li>
              <li><a href="/students/add_student/">Lägg till student</a></li>
              <li><a href="/create_user/">Lägg till använder</a></li>
              <li><a href="{% url 'logout_of_app' %}">Logout</a></li>
            </ul>
          </div>
        </nav>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>